<link rel="stylesheet" href="/css/header.css">
<nav>
    <div class="menu">
        <div class="heading logo"><a href="#">BAKE_it_FRESH</a></div>
        <input type="checkbox" id="check">
        <div class="logo">
            <a href="/">BAKE_it_FRESH</a>
        </div>
        <ul class="top">
            <li><a href="/">Home</a></li>            
            <li><a href="/shop">shop</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/vendor/profile">admin</a></li>
            <label  class="button cancel" for="check"> <i class="fa fa-times"></i></label>
            <li><a href="" target="_blank" class="social-media insta"><i class="fab fa-instagram"></i></a></li>
            <li><a href=""target="_blank" class="social-media whatsapp"><i class="fab fa-whatsapp"></i></a></li>
            <li><a href="" target="_blank" class="social-media facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="" target="_blank" class="social-media mail"><i class="fas fa-envelope"></i></a></li>
        </ul>
        <label class="button bars" for="check"><i class="fas fa-bars"></i></label>
        
        <div id="myOverlay" class="overlay">
            <span class="closebtn" onclick="closeSearch()" title="Close Overlay">X</span>
            <div class="overlay-content">
                <form id="search-form" action="/search" method="POST">
                    <input type="text" id="searchText" placeholder="Search.." name="search">
                    <button type="submit" onkeypress="search()"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div> 
        <button class="search-btn openBtn" onclick="openSearch()"><i class="fa fa-search"></i></button> 
    </div>
</nav>
<script src="/js/header.js"></script>
<script>
    function openSearch() {
        document.getElementById("myOverlay").style.display = "block";
    }
    function closeSearch() {
        document.getElementById("myOverlay").style.display = "none";
    }
</script>