body{
    font-size: 16px;
    color: #292929;
    line-height: 1.7rem;
    font-weight: 400;
}
.review-container{
    width: 90%;
    margin: auto;
}

.flex{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.single-product {
    width: 325px;
    margin-left: 20px;
}

.section-bg{
    /* background: #310c0c; */
    background: url(../images/cupcake.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    padding: 60px 0;
}

.section-title{
    margin-bottom: 25px;
}

.section-title h2{
    position: relative;
    color: wheat;
    font-size: 32px;
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: 1px;
    z-index: 1;
    text-transform: capitalize;
    display: inline-block;
}   

.bttn-def{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 14px 42px;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: inset -2px -2px 8px white,
    inset -2px -2px 12px rgba(255, 255, 255, 0.1),
    inset 2px 2px 4px rgba(255, 255, 255, 0),
    inset 2px 2px 8px rgba(0, 0, 0, 0.15);
    transition: 0.4s;
}

.bttn-def:hover{
    box-shadow: inset -2px -2px 8px white,
    inset -2px -2px 12px rgba(255, 255, 255, 0.1),
    inset 2px 2px 4px rgba(255, 255, 255, 0),
    inset 2px 2px 8px rgba(0, 0, 0, 0.15);
    color: #7289ab;
}

.bttn-def:hover span{
    display: inline-block;
    transform: scale(0.98);
}
@media (max-width:1050px){
    .flex{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .single-product {
        width: 300px;
        margin-left: 20px;
    }
}
@media (max-width:800px){
    .section-bg{
        background-size:800px 700px;
        background-repeat: no-repeat;
    }
    .review-container{
        width: 90%;
    }
    .flex{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .single-product {
        width: 265px;
        margin-left: 10px;
    }
    .single-product .product-title{
        margin-top: 5px;
        margin-bottom: 7px;
    }
    
    .single-product .product-title h3{
        font-size: 15px;
        font-weight: 700;
        
    }

    .single-product .description{
        margin-bottom: 8px;
        min-height:45px;
    }
    
    .single-product .description p{
        font-size: 12px;
        font-weight: 400;    
    }

    .btn-s {
        width: 50%;
        font-size: 11px;
        font-weight: 700;
        padding: 6px 10px;
        margin-top: 9px;
        border-radius: 10px;
        text-align: center;
    }
}

@media (max-width:600px){
    .section-bg{
        background-position-x: -225px;
    }
    .review-container{
        width: 95%;
        
    }
    .single-product {
        width:200px;
        margin-left: 20px;
        min-height: 250px;
    }
    .single-product .product-title{
        margin-top: 5px;
        margin-bottom: 7px;
    }
    
    .single-product .product-title h3{
        font-size: 14px;
        font-weight: 600;
    }

    .single-product .description{
        margin-bottom: 7.5px;
        min-height:50px;
    }
    
    .single-product .description p{
        font-size: 10px;
        font-weight: 400;    
    }

    .btn-s {
        width: 50%;
        font-size: 10px;
        font-weight: 700;
        padding: 4px 10px;
        margin-top: 9px;
        border-radius: 10px;
        text-align: center;
    }
}
@media (max-width:450px){
    .section-bg{
        background-position-x: -300px;
    }
    .review-container{
        width: 95%;
        
    }
    .single-product {
        width:175px;
        margin-left: 20px;
        min-height: 240px;
    }
    .single-product .product-title{
        margin-bottom: 7px;
    }
    
    .single-product .product-title h3{
        font-size: 12px;
        font-weight: 600;
    }

    .single-product .description{
        margin-bottom: 7.5px;
        min-height:40px;
    }
    
    .single-product .description p{
        font-size: 10px;
        font-weight: 400;    
    }

    .btn-s {
        width: 50%;
        font-size: 9px;
        font-weight: 700;
        padding: 4px 10px;
        margin-top: 9px;
        border-radius: 10px;
        text-align: center;
    }
}
@media(max-width:400px){
    .review-container{
        width: 75%;
    }
    .flex{
        justify-content: center;
    }
    .single-product {
        width:200px;
        margin-left: 20px;
        min-height: 240px;
    }
}
@media(max-width:350px){
    .review-container{
        width: 70%;
    }
    .single-product {
        width:200px;
        margin-left: 20px;
        min-height: 240px;
    }
}