.shop-main{
    margin:auto;
    width: 95%;
    background: #041a1a;
    padding-bottom: 25px;
}

.shop-heading{
    align-items: center;
    text-align: center;
    margin: 15px 0;
    padding: 25px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 35px;
    font-weight: 800;
    font-family: cursive;
    text-transform: uppercase;   
    color: wheat;
}

.shop-heading h2{
    font-size: 35px;
    font-weight: 800;
    font-family: cursive;
    text-transform: uppercase;   
    color: wheat;
}

.shop-heading img{
    margin-left: 15px;
    width: 100px;
    height: 90px;
} 

.shop-main .bakers{
    width: 85%;
    margin: auto;
}

.shop-main .bakers .column{
    margin: auto;
    margin-bottom: 45px ;
    padding-bottom: 10px;
    border-radius: 25px;
    background: linear-gradient(to left, #093a2f, #07383f 55%, #666465);
    box-sizing: border-box;
}

.shop-main .bakers .column .bakers-name{
    padding: 15px 0;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-shadow: 2px 3px 0px rgba(43, 56, 50, 0.42);
    text-transform: capitalize;
    color: wheat;
}

.shop-main .bakers .column .bakers-name a{
   text-decoration: none;
   color: wheat;
}

.shop-main .bakers .column .bakers-name img{
    height: 40px;
    margin-left: 15px;
    font-style: italic;
    transform: rotate(12deg);
}

.shop-main .bakers .column .bakers-name h3{
    font-size: 35px;
    font-weight: 700;
    font-style: italic;
}

.shop-main .bakers .content{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.shop-main .bakers .content .image-div{
    margin: 0 20px;
    width: 25%;
    height: auto;
    text-align: center;
    justify-content: center;
}

.shop-main .bakers .content .img{
    margin: 5px 0; 
    width: auto;
    height:auto;
    margin-bottom: 15px;
}

.shop-main .bakers .content .img img{
    width: 180px;
    height: 160px;
    border-radius: 10%;
}

.shop-main .bakers .content .image-div p{
    font-size: 20px;
    font-family: cursive;
    text-transform: capitalize;
    margin-top: 10px;
    color: rgb(9, 243, 184);
}
.shop-main .bakers .content .image-div a {
    text-decoration: none;
    background: rgb(14, 10, 4);
    color:rgb(238, 78, 78);
    font-weight: 900;
    text-transform: uppercase;
}

.shop-main .bakers .content .info-box{
    padding:0 10px;
    width: 60%;
    margin: auto;
    justify-content: center;
}

.shop-main .bakers .content .info-box .info-box2{
    margin-top: 15px;
}

.shop-main .bakers .content .info-box .info{ 
    padding: 7px 5px;
    font-size: 17.5px;
    text-align: justify;
    font-weight: 400;
    color: wheat;
}

.shop-main .bakers .content .info-box .info span{
    text-transform: uppercase;
    color: rgb(10, 148, 102);
    font-size: 25px;
    font-weight: 700;
}

.shop-main .bakers .content .info-box .info h3{
    text-align: justify;
    font-weight: 200;
    font-size: 22.5px;
}

.shop-btn{
    margin-top: 25px;
}

.shop-btn .button{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.shop-btn .button .sub-btn{
    width: 40%;
    margin-left: 15px;
}

.shop-btn button{
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 17.5px;
    margin-right: 10px;
    border-radius: 5px;
    border-radius: 50px;
    background: #131212;
    box-shadow:  2px 2px 6px #0e0d0d,-2px -2px 6px #1d1c1c;
}

.shop-btn button a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: wheat;
    width: 100%;
}

@media (max-width:900px){
    .shop-main .bakers .content .info-box{
        width:auto;
    }

    .shop-main .bakers .content .image-div{
        width: 95%;
    }
    .shop-btn button a i{
        margin-left: 4px;
    }
}

@media (max-width:815px) {
    .shop-heading{
        font-size: 24px;
    }
    .shop-heading img{
        width: 80px;
        height: 80px;
        margin-right: 20px;
    } 
}

@media (max-width:650px) {
    .shop-heading{
        font-size: 17px;
    }
    .shop-heading img{
        width: 60px;
        height: 65px;
        margin-right: 20px;
    } 
    .shop-main .bakers .content {
        width: 100%;
    }
    .shop-main .bakers .content .info-box .info h3{
        font-size: 18px;
    }
    .shop-btn button a{
        font-size: 17px;
    }
}

@media (max-width:475px) {
    .shop-heading{
        font-size: 16px;
    }
    .shop-heading img{
        width: 45px;
        height: 40px;
        margin-right: 10px;
    } 
    .shop-main .bakers .column .bakers-name h3{
        font-size: 25px;
        font-weight: 700;
        font-style: italic;
    }
    .shop-main .bakers .column .bakers-name img{
        height: 30px;
    }
    .shop-main .bakers .content .info-box .info span{
        
        font-size: 20px;
        font-weight: 700;
    }
    .shop-main .bakers .content .info-box .info h3{
        text-align: justify;
        font-weight: 200;
        font-size: 15px;
    }
    .shop-btn button a{
        font-size: 13px;
    }
}
